#sec-01-about {
  max-width: 900px;
  .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    .about-text {
      font-size: var(--font-size-lg);
      color: var(--color-secondary);
    }
    .about-img {
      position: relative;
      max-width: 300px;
      .img-background {
        box-shadow: var(--box-shadow-1);
        transition: var(--transition-general);
        display: block;
        position: relative;
        width: 100%;
        border-radius: var(--border-radius-sm);
        background-color: var(--color-background);
        &:hover {
          background-color: var(--color-grey-4);
          // Frame
          &::after {
            top: 10px;
            left: 10px;
            border: 2px solid var(--color-highlight);
          }
        }
        // Frame
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: var(--border-radius-sm);
          transition: var(--transition-general);
          border: 2px solid var(--color-highlight-transparent);
          top: 20px;
          left: 20px;
          z-index: -1;
        }
        .my-image {
          position: relative;
          border-radius: var(--border-radius-sm);
          transition: var(--transition-general);
          width: 100%;
          max-width: 100%;
          vertical-align: middle;
          display: inline-block;
          overflow: hidden;
          img {
            max-width: 100%;
            display: block;
            position: static;
            transition: var(--transition-general);
            filter: grayscale(100%);
            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}
