<section id="sec-01-about">
  <header class="section-header">
    <app-section-title number="01." text="Sobre mí"></app-section-title>
    <app-edit-menu
      *ngIf="login"
      (editStart)="editStart()"
      (saveChanges)="saveChanges()"
      (cancelChanges)="cancelChanges()"
    ></app-edit-menu>
  </header>
  <div class="inner">
    <div class="about-text">
      <p>
        Hola! Me llamo Sebastián, tengo 25 años y soy nuevo en el mundo de la
        programación. Aprendí a partir de los cursos de
        <a
          class="in-text"
          href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
          target="_blank"
          >Argentina Programa</a
        >
        y encontré una nueva pasión y oportunidad para crear.
      </p>
      <p>
        Vengo del mundo del diseño, con las carreras de arquitectura y de diseño
        industrial. Estudio en la
        <a class="in-text" href="https://www.fadu.uba.ar/" target="_blank"
          >FADU</a
        >, Universidad de Buenos Aires.
      </p>
      <p>
        Mi objetivo es profesionalizarme y continuar sumando conocimientos. Me
        encantaría formar parte de un proyecto que tenga un enfoque social. En
        el futuro quisiera especializarme como diseñador de experiencias de
        usuario.
      </p>
    </div>
    <div class="about-img">
      <div class="img-background">
        <div class="my-image">
          <div style="max-width: 500px; display: block">
            <img role="presentation" [src]="about.img" [alt]="about.imgAlt" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
