<header>
  <button class="btn-edit logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="26"
      fill="currentColor"
      class="bi bi-person-circle"
      viewBox="0 0 16 16"
    >
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
      <path
        fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
      />
    </svg>
  </button>
  <nav>
    <ol class="nav-links">
      <li>
        <span>01. </span>
        <a href="#sec-01-about"> Sobre mí </a>
      </li>
      <li>
        <span>02. </span>
        <a href="#sec-02-experience"> Experiencia </a>
      </li>
      <li>
        <span>03. </span>
        <a href="#sec-03-education"> Educación </a>
      </li>
      <li>
        <span>04. </span>
        <a href="#sec-04-skills"> Habilidades </a>
      </li>
      <li>
        <span>05. </span>
        <a href="#sec-05-proyects"> Proyectos </a>
      </li>
    </ol>
  </nav>
  <a class="header-btn" href="#"
    ><button class="btn-regular">Descargar CV</button></a
  >
</header>
