<header>
  <a class="logo" href="#sec-00-home"
    ><img class="img-logo" src="../assets/img/site-logo.png" alt="Logo"
  /></a>
  <nav>
    <ol class="nav-links">
      <li>
        <span>01. </span>
        <a href="#sec-01-about"> Sobre mí </a>
      </li>
      <li>
        <span>02. </span>
        <a href="#sec-02-experience"> Experiencia </a>
      </li>
      <li>
        <span>03. </span>
        <a href="#sec-03-education"> Educación </a>
      </li>
      <li>
        <span>04. </span>
        <a href="#sec-04-skills"> Habilidades </a>
      </li>
      <li>
        <span>05. </span>
        <a href="#sec-05-proyects"> Proyectos </a>
      </li>
    </ol>
  </nav>
  <a class="header-btn" href="#"
    ><button class="btn-regular">Descargar CV</button></a
  >
</header>
