<section id="sec-00-home">
  <span class="home-intro">Hola, mi nombre es</span>
  <h1>{{ fullName }}</h1>
  <span class="home-subtitle">{{ occupation }}</span>
  <p>
    Amo aprender y mi pasión es crear. Una de mis aficiones es la impresión 3D y
    tengo un emprendimiento llamado
    <a class="in-text" href="https://www.instagram.com/plan.3d/" target="_blank"
      >Plan 3D</a
    >. Estudio arquitectura y diseño industrial. Actualmente busco trabajo en el
    mundo de la programación y el desarrollo web.
  </p>
  <a href="mailto:sebaquiros@gmail.com" target="_blank"
    ><button class="btn-regular">Hablemos</button></a
  >
</section>
