<app-header></app-header>
<app-networks></app-networks>
<app-mail></app-mail>
<main>
  <section id="sec-00-home">
    <span class="home-intro">Hola, mi nombre es</span>
    <h1>Sebastián Quirós.</h1>
    <span class="home-subtitle">Diseño y programo.</span>
    <p>
      Amo aprender y mi pasión es crear. Una de mis aficiones es la impresión 3D
      y tengo un emprendimiento llamado
      <a
        class="in-text"
        href="https://www.instagram.com/plan.3d/"
        target="_blank"
        >Plan 3D</a
      >. Estudio arquitectura y diseño industrial. Actualmente busco trabajo en
      el mundo de la programación y el desarrollo web.
    </p>
    <a href="mailto:sebaquiros@gmail.com" target="_blank"
      ><button class="btn-regular">Hablemos</button></a
    >
  </section>
  <section id="sec-01-about">
    <div class="section-title">
      <span>01.</span>
      <h2>Sobre mí</h2>
    </div>
    <div class="inner">
      <div class="about-text">
        <p>
          Hola! Me llamo Sebastián, tengo 25 años y soy nuevo en el mundo de la
          programación. Aprendí a partir de los cursos de
          <a
            class="in-text"
            href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
            target="_blank"
            >Argentina Programa</a
          >
          y encontré una nueva pasión y oportunidad para crear.
        </p>
        <p>
          Vengo del mundo del diseño, con las carreras de arquitectura y de
          diseño industrial. Estudio en la
          <a class="in-text" href="https://www.fadu.uba.ar/" target="_blank"
            >FADU</a
          >, Universidad de Buenos Aires.
        </p>
        <p>
          Mi objetivo es profesionalizarme y continuar sumando conocimientos. Me
          encantaría formar parte de un proyecto que tenga un enfoque social. En
          el futuro quisiera especializarme como diseñador de experiencias de
          usuario.
        </p>
      </div>
      <div class="about-img">
        <div class="img-wrapper">
          <div class="my-image">
            <div style="max-width: 500px; display: block">
              <img
                alt
                role="presentation"
                src="img/About-me.png"
                alt="Sebastián Quirós"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-02-experience">
    <div class="section-title">
      <span>02.</span>
      <h2>Experiencia</h2>
    </div>
    <div class="inner">
      <div class="xp-tablist">
        <button class="btn-tab active" data-switcher-xp data-tab="1">
          Fundación IDA
        </button>
        <button class="btn-tab" data-switcher-xp data-tab="2">Dimension</button>
        <button class="btn-tab" data-switcher-xp data-tab="3">
          Bruto Estudio
        </button>
        <button class="btn-tab" data-switcher-xp data-tab="4">
          All Access
        </button>
      </div>
      <div class="xp-panel">
        <div class="panel-content active" data-panel="1">
          <h3>
            Voluntario en
            <a
              class="in-text"
              href="https://www.fundacionida.org/"
              target="_blank"
              >Fundación IDA
            </a>
          </h3>
          <div class="panel-subtitle">Investigación en Diseño Argentino</div>
          <span>Enero 2021 - Marzo 2022</span>
          <ul class="panel-list bullet-list">
            <li>
              Encargado del área de arquitectura para la obtención, recepción y
              catalogación de material nuevo.
            </li>
            <li>
              Investigador para el proyecto "Épica. Hazañas del diseño
              argentino."
            </li>
          </ul>
        </div>
        <div class="panel-content" data-panel="2">
          <h3>
            Diseñador en
            <a
              class="in-text"
              href="https://www.instagram.com/dimension.arg/"
              target="_blank"
              >Dimension</a
            >
          </h3>
          <div class="panel-subtitle">Fábrica de impresión 3D</div>
          <span>Enero - Junio 2021</span>
          <ul class="panel-list bullet-list">
            <li>Trabajo con tecnología de impresión 3D.</li>
            <li>
              Responsable del proceso de lanzamiento de nuevos productos.
              Diseño, pruebas y cotización.
            </li>
            <li>Producción y mantenimiento en el día a día.</li>
          </ul>
        </div>
        <div class="panel-content" data-panel="3">
          <h3>
            Dibujante en
            <a
              class="in-text"
              href="https://www.instagram.com/bruto.arquitectos/"
              target="_blank"
              >Bruto Estudio</a
            >
          </h3>
          <div class="panel-subtitle">Estudio de Arquitectura</div>
          <span>Abril 2018 - Agosto 2019</span>
          <ul class="panel-list bullet-list">
            <li>
              Documentación de todas las etapas de proyecto: de cumplimiento
              reglamentario, de licitación y cotización de obra y ejecutiva para
              obra.
            </li>
            <li>
              Trabajo en estudio con documentación, modelado virtual y
              renderizado.
            </li>
            <li>
              Visitas a obra como parte de la dirección para el control de
              tareas.
            </li>
          </ul>
        </div>
        <div class="panel-content" data-panel="4">
          <h3>
            Empleado en
            <a
              class="in-text"
              href="https://www.allaccess.com.ar/"
              target="_blank"
              >All Access</a
            >
          </h3>
          <div class="panel-subtitle">Empresa de eventos y festivales</div>
          <span>Enero - Abril 2018</span>
          <ul class="panel-list bullet-list">
            <li>Venta de entradas para el Loollapalooza.</li>
            <li>Atención al público en español e inglés.</li>
            <li>Soporte en línea post evento, reclamos y reembolsos.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-03-education">
    <div class="section-title">
      <span>03.</span>
      <h2>Educación</h2>
    </div>
    <div class="inner">
      <div class="edu-tablist">
        <button class="btn-tab active" data-switcher-edu data-tab="1">
          Diseño Industrial
        </button>
        <button class="btn-tab" data-switcher-edu data-tab="2">
          Arquitectura
        </button>
        <button class="btn-tab" data-switcher-edu data-tab="3">
          Colegio Secundario
        </button>
      </div>
      <div class="edu-panel">
        <div class="panel-content active" data-panel="1">
          <h3>
            Carrera de
            <a
              class="in-text"
              href="https://www.fadu.uba.ar/categoria/53-diseo-industrial"
              target="_blank"
              >Diseño Industrial</a
            >
          </h3>
          <div class="panel-subtitle">FADU, Universidad de Buenos Aires</div>
          <span>2021 - 2022</span>
          <ul class="panel-list bullet-list">
            <li>
              Encargado del área de arquitectura para la obtención, recepción y
              catalogación de material nuevo.
            </li>
            <li>
              Investigador para el proyecto "Épica. Hazañas del diseño
              argentino."
            </li>
          </ul>
        </div>
        <div class="panel-content" data-panel="2">
          <h3>
            Carrera de
            <a
              class="in-text"
              href="https://www.fadu.uba.ar/categoria/49-arquitectura"
              target="_blank"
              >Arquitectura</a
            >
          </h3>
          <div class="panel-subtitle">FADU, Universidad de Buenos Aires</div>
          <span>2015 - Presente</span>
          <ul class="panel-list bullet-list">
            <li>Trabajo con tecnología de impresión 3D.</li>
            <li>
              Responsable del proceso de lanzamiento de nuevos productos.
              Diseño, pruebas y cotización.
            </li>
            <li>Producción y mantenimiento en el día a día.</li>
          </ul>
        </div>
        <div class="panel-content" data-panel="3">
          <h3>
            Secundario en el
            <a
              class="in-text"
              href="http://sitio.marianista.edu.ar/"
              target="_blank"
              >Colegio Marianista</a
            >
          </h3>
          <div class="panel-subtitle">
            Bachiller en Humanidades y Ciencias Sociales
          </div>
          <span>2010 - 2014</span>
          <ul class="panel-list bullet-list">
            <li>
              Documentación de todas las etapas de proyecto: de cumplimiento
              reglamentario, de licitación y cotización de obra y ejecutiva para
              obra.
            </li>
            <li>
              Trabajo en estudio con documentación, modelado virtual y
              renderizado.
            </li>
            <li>
              Visitas a obra como parte de la dirección para el control de
              tareas.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-04-skills">
    <div class="section-title">
      <span>04.</span>
      <h2>Habilidades</h2>
    </div>
    <div class="inner">
      <div class="skill-set">
        <div class="set-title">
          <span>Relacionadas con</span>
          <h3>Programación y desarrollo</h3>
        </div>
        <div class="set-content">
          <div class="set-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
              voluptas corporis nemo quas illo.
            </p>
          </div>
          <ul class="set-list bullet-list">
            <li>HTML 5</li>
            <li>CSS / SCSS</li>
            <li>JavaScript (ES6+)</li>
            <li>TypeScript</li>
            <li>Ruby</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
      <div class="skill-set">
        <div class="set-title">
          <span>Relacionadas con</span>
          <h3>Arquitectura y Diseño</h3>
        </div>
        <div class="set-content">
          <div class="set-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
              voluptas corporis nemo quas illo.
            </p>
          </div>
          <ul class="set-list bullet-list">
            <li>HTML 5</li>
            <li>CSS / SCSS</li>
            <li>JavaScript (ES6+)</li>
          </ul>
        </div>
      </div>
      <div class="skill-set">
        <div class="set-title">
          <span>Relacionadas con</span>
          <h3>Trabajo y toma de decisiones</h3>
        </div>
        <div class="set-content">
          <div class="set-description">
            <p>
              Mis experiencias laborales en distintos ámbitos y la participación
              en numerosos proyectos académicos me han permitido desarrollar
              muchas habilidades de trabajo. Descubrí que tengo una tendencia al
              liderazgo y disfruto del trabajo en equipo comprometido y
              participativo.
            </p>
          </div>
          <ul class="set-list bullet-list">
            <li>Liderazgo</li>
            <li>Iniciativa</li>
            <li>Compromiso</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-05-proyects">
    <div class="section-title">
      <span>05.</span>
      <h2>Proyectos</h2>
    </div>
    <div class="inner">
      <ul class="featured-proyects">
        <li class="project">
          <div class="project-content">
            <div class="project-title">
              <span>Emprendimiento</span>
              <h3>
                <a
                  href="https://www.instagram.com/plan.3d/"
                  target="_blank"
                  rel="noreferrer"
                  >Plan 3D</a
                >
              </h3>
            </div>
            <div class="project-description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur tempora aliquid.
              </p>
            </div>
            <ul class="project-tech-list bullet-list">
              <li>Fusion 360</li>
              <li>PrusaSlicer</li>
            </ul>
          </div>
          <div class="project-image">
            <a
              href="https://www.instagram.com/plan.3d/"
              target="_blank"
              rel="noreferrer"
              ><div class="img-wrapper">
                <img src="img/Proyecto-plan3d.jpg" alt="Logo de Plan 3D" /></div
            ></a>
          </div>
        </li>
        <li class="project">
          <div class="project-content">
            <div class="project-title">
              <span>Trabajos</span>
              <h3>
                <a
                  href="https://www.behance.net/gallery/85577341/TRABAJO-Ejemplos-de-renders"
                  target="_blank"
                  rel="noreferrer"
                  >Renders profesionales</a
                >
              </h3>
            </div>
            <div class="project-description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur tempora aliquid.
              </p>
            </div>
            <ul class="project-tech-list bullet-list">
              <li>SketchUp</li>
              <li>V-Ray</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <div class="project-image">
            <a
              href="https://www.behance.net/gallery/85577341/TRABAJO-Ejemplos-de-renders"
              target="_blank"
              rel="noreferrer"
              ><div class="img-wrapper">
                <img
                  src="img/Proyecto-render.png"
                  alt="Render de oficina."
                /></div
            ></a>
          </div>
        </li>
        <li class="project">
          <div class="project-content">
            <div class="project-title">
              <span>Proyecto de Arquitectura</span>
              <h3>
                <a
                  href="https://www.behance.net/gallery/62157555/PROYECTO-Escuela-nautica-en-Puerto-de-Olivos"
                  target="_blank"
                  rel="noreferrer"
                  >Escuela náutica en Puerto de Olivos</a
                >
              </h3>
            </div>
            <div class="project-description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur tempora aliquid.
              </p>
            </div>
            <ul class="project-tech-list bullet-list">
              <li>AutoCAD</li>
              <li>SketchUp</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <div class="project-image">
            <a
              href="https://www.behance.net/gallery/62157555/PROYECTO-Escuela-nautica-en-Puerto-de-Olivos"
              target="_blank"
              rel="noreferrer"
              ><div class="img-wrapper">
                <img
                  src="img/Proyecto-arquitectura.jpg"
                  alt="Logo de Plan 3D"
                /></div
            ></a>
          </div>
        </li>
        <li class="project">
          <div class="project-content">
            <div class="project-title">
              <span>Proyecto de Diseño Industrial</span>
              <h3>
                <a
                  href="https://www.behance.net/gallery/143944709/PROYECTO-Biomateriales"
                  target="_blank"
                  rel="noreferrer"
                  >Producto descartable biodegradable</a
                >
              </h3>
            </div>
            <div class="project-description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Pariatur tempora aliquid.
              </p>
            </div>
            <ul class="project-tech-list bullet-list">
              <li>Fusion 360</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <div class="project-image">
            <a
              href="https://www.behance.net/gallery/143944709/PROYECTO-Biomateriales"
              target="_blank"
              rel="noreferrer"
              ><div class="img-wrapper">
                <img
                  src="img/Proyecto-diseñoind.jpg"
                  alt="Logo de Plan 3D"
                /></div
            ></a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer>
  <h3>Footer</h3>
</footer>
