<section id="sec-03-education">
  <header class="section-header">
    <app-section-title number="03." text="Educación"></app-section-title>
    <app-edit-menu
      [addOption]="true"
      *ngIf="login"
      (editStart)="editStart()"
      (saveChanges)="saveChanges()"
      (cancelChanges)="cancelChanges()"
      (addFunction)="addEducation()"
    ></app-edit-menu>
  </header>
  <div class="inner">
    <div class="tablist">
      <ul>
        <li *ngFor="let education of educations">
          <button
            (click)="deleteEducation(education)"
            *ngIf="editMode"
            class="btn-edit delete-edu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-dash-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn-tab"
            [class.active]="education === selectedEducation"
            (click)="onSelect(education)"
          >
            {{ education.button }}
          </button>
        </li>
      </ul>
    </div>
    <div class="panel">
      <div class="panel-content" *ngIf="selectedEducation">
        <div class="edition-controls" *ngIf="editMode">
          <div class="edit-button">
            <input
              [(ngModel)]="selectedEducation.button"
              id="occupation"
              type="text"
              name="occupation"
              placeholder="occupation"
            />
          </div>
          <div class="edit-information">
            <input
              [(ngModel)]="selectedEducation.occupation"
              id="occupation"
              type="text"
              name="occupation"
              placeholder="occupation"
            />
            <input
              [(ngModel)]="selectedEducation.title"
              id="title"
              type="text"
              name="title"
              placeholder="title"
            />
            <input
              [(ngModel)]="selectedEducation.subtitle"
              id="subtitle"
              type="text"
              name="subtitle"
              placeholder="subtitle"
            />
            <input
              [(ngModel)]="selectedEducation.duration"
              id="duration"
              type="text"
              name="duration"
              placeholder="duration"
            />
            <input
              [(ngModel)]="selectedEducation.link"
              id="link"
              type="text"
              name="link"
              placeholder="link"
            />
            <div class="edit-description">
              <input
                [(ngModel)]="newParagraph"
                id="newTool"
                type="text"
                name="newTool"
                placeholder="Nuevo párrafo"
              />
              <button
                (click)="addParagraph(selectedEducation, newParagraph)"
                class="btn-edit"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <h3>
          {{ selectedEducation.occupation }}
          <a class="in-text" [href]="selectedEducation.link" target="_blank"
            >{{ selectedEducation.title }}
          </a>
        </h3>
        <div class="panel-subtitle">{{ selectedEducation.subtitle }}</div>
        <span>{{ selectedEducation.duration }}</span>
        <ul class="panel-list bullet-list">
          <li *ngFor="let paragraph of selectedEducation.description">
            {{ paragraph }}
            <button
              (click)="deleteParagraph(selectedEducation, paragraph)"
              *ngIf="editMode"
              class="btn-edit"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-dash-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
