<section id="sec-03-education">
  <div class="section-title">
    <span>03.</span>
    <h2>Educación</h2>
  </div>
  <div class="inner">
    <div class="tablist">
      <button
        type="button"
        class="btn-tab"
        [class.active]="education === selectedEducation"
        *ngFor="let education of educations"
        (click)="onSelect(education)"
      >
        {{ education.button }}
      </button>
    </div>
    <div class="panel">
      <div class="panel-content" *ngIf="selectedEducation">
        <h3>
          {{ selectedEducation.role }}
          <a class="in-text" [href]="selectedEducation.link" target="_blank"
            >{{ selectedEducation.title }}
          </a>
        </h3>
        <div class="panel-subtitle">{{ selectedEducation.subtitle }}</div>
        <span>{{ selectedEducation.time }}</span>
        <ul class="panel-list bullet-list">
          <li *ngFor="let paragraph of selectedEducation.description">
            {{ paragraph }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
