.edit-menu {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
  .buttons-container {
    display: flex;
    background-color: var(--color-highlight-transparent);
    border-radius: 50px;
    button {
      padding: 12px;
    }
  }
  .add-option {
    margin-left: 12px;
  }
}
