.edit-menu {
  position: relative;
  bottom: 90px;
  left: 580px;
  width: max-content;
  height: max-content;
  .buttons {
    display: flex;
    background-color: var(--color-highlight-transparent);
    border-radius: 1000px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-secondary);
      padding: 12px;
      &:hover {
        color: var(--color-highlight);
      }
    }
  }
}
