.edit-menu {
  width: max-content;
  height: max-content;
  .buttons-container {
    display: flex;
    background-color: var(--color-highlight-transparent);
    border-radius: 50px;
    button {
      padding: 12px;
    }
  }
}
