<section id="sec-05-proyects">
  <app-section-title number="05." text="Proyectos"></app-section-title>
  <app-edit-menu *ngIf="login" [edit]="false"></app-edit-menu>
  <div class="inner">
    <ul class="featured-proyects">
      <li class="project" *ngFor="let proyect of proyects">
        <div class="project-content">
          <div class="project-title">
            <span>{{ proyect.type }}</span>
            <h3>
              <a [href]="proyect.link" target="_blank" rel="noreferrer">{{
                proyect.title
              }}</a>
            </h3>
          </div>
          <div class="project-description">
            <p>
              {{ proyect.description }}
            </p>
          </div>
          <ul class="project-tech-list bullet-list">
            <li *ngFor="let tool of proyect.tools">{{ tool }}</li>
          </ul>
        </div>
        <div class="project-image">
          <a [href]="proyect.link" target="_blank" rel="noreferrer"
            ><div class="img-wrapper">
              <img [src]="proyect.img" [alt]="proyect.imgAlt" /></div
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
