<section id="sec-05-proyects">
  <div class="section-title">
    <span>05.</span>
    <h2>Proyectos</h2>
  </div>
  <div class="inner">
    <ul class="featured-proyects">
      <li class="project">
        <div class="project-content">
          <div class="project-title">
            <span>Emprendimiento</span>
            <h3>
              <a
                href="https://www.instagram.com/plan.3d/"
                target="_blank"
                rel="noreferrer"
                >Plan 3D</a
              >
            </h3>
          </div>
          <div class="project-description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              tempora aliquid.
            </p>
          </div>
          <ul class="project-tech-list bullet-list">
            <li>Fusion 360</li>
            <li>PrusaSlicer</li>
          </ul>
        </div>
        <div class="project-image">
          <a
            href="https://www.instagram.com/plan.3d/"
            target="_blank"
            rel="noreferrer"
            ><div class="img-wrapper">
              <img
                src="../assets/img/proyects/plan 3d.jpg"
                alt="Logo de Plan 3D"
              /></div
          ></a>
        </div>
      </li>
      <li class="project">
        <div class="project-content">
          <div class="project-title">
            <span>Trabajos</span>
            <h3>
              <a
                href="https://www.behance.net/gallery/85577341/TRABAJO-Ejemplos-de-renders"
                target="_blank"
                rel="noreferrer"
                >Renders profesionales</a
              >
            </h3>
          </div>
          <div class="project-description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              tempora aliquid.
            </p>
          </div>
          <ul class="project-tech-list bullet-list">
            <li>SketchUp</li>
            <li>V-Ray</li>
            <li>Photoshop</li>
          </ul>
        </div>
        <div class="project-image">
          <a
            href="https://www.behance.net/gallery/85577341/TRABAJO-Ejemplos-de-renders"
            target="_blank"
            rel="noreferrer"
            ><div class="img-wrapper">
              <img
                src="../assets/img/proyects/renders.png"
                alt="Render de oficina."
              /></div
          ></a>
        </div>
      </li>
      <li class="project">
        <div class="project-content">
          <div class="project-title">
            <span>Proyecto de Arquitectura</span>
            <h3>
              <a
                href="https://www.behance.net/gallery/62157555/PROYECTO-Escuela-nautica-en-Puerto-de-Olivos"
                target="_blank"
                rel="noreferrer"
                >Escuela náutica en Puerto de Olivos</a
              >
            </h3>
          </div>
          <div class="project-description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              tempora aliquid.
            </p>
          </div>
          <ul class="project-tech-list bullet-list">
            <li>AutoCAD</li>
            <li>SketchUp</li>
            <li>Photoshop</li>
          </ul>
        </div>
        <div class="project-image">
          <a
            href="https://www.behance.net/gallery/62157555/PROYECTO-Escuela-nautica-en-Puerto-de-Olivos"
            target="_blank"
            rel="noreferrer"
            ><div class="img-wrapper">
              <img
                src="../assets/img/proyects/escuela en puerto de olivos.jpg"
                alt="Logo de Plan 3D"
              /></div
          ></a>
        </div>
      </li>
      <li class="project">
        <div class="project-content">
          <div class="project-title">
            <span>Proyecto de Diseño Industrial</span>
            <h3>
              <a
                href="https://www.behance.net/gallery/143944709/PROYECTO-Biomateriales"
                target="_blank"
                rel="noreferrer"
                >Producto descartable biodegradable</a
              >
            </h3>
          </div>
          <div class="project-description">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              tempora aliquid.
            </p>
          </div>
          <ul class="project-tech-list bullet-list">
            <li>Fusion 360</li>
            <li>Photoshop</li>
          </ul>
        </div>
        <div class="project-image">
          <a
            href="https://www.behance.net/gallery/143944709/PROYECTO-Biomateriales"
            target="_blank"
            rel="noreferrer"
            ><div class="img-wrapper">
              <img
                src="../assets/img/proyects/conoflex.jpg"
                alt="Logo de Plan 3D"
              /></div
          ></a>
        </div>
      </li>
    </ul>
  </div>
</section>
