#sec-05-proyects {
  .inner {
    .featured-proyects {
      list-style: none;
      padding: 0px;
      margin: 0px;
      .project {
        position: relative;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        &:not(:last-of-type) {
          margin-bottom: 100px;
        }
        .project-content {
          position: relative;
          grid-area: 2 / 1 / 2 / 7;
          z-index: 2;
          .project-title {
            margin-bottom: 20px;
            span {
              font-family: var(--font-mono);
              font-size: var(--font-size-xs);
              color: var(--color-highlight);
            }
            h3 {
              display: flex;
              font-size: 28px;
              margin-top: 10px;
              padding-right: 150px;
              button {
                margin-left: 10px;
              }
            }
          }
          .project-description {
            box-shadow: var(--box-shadow-1);
            position: relative;
            padding: 25px;
            border-radius: var(--border-radius-sm);
            background-color: var(--color-elements);
            color: var(--color-secondary);
            font-size: var(--font-size-md);
            p {
              margin: 0px;
            }
          }
          .edit-tools {
            display: flex;
            padding-left: 0px;
            padding-right: 200px;
            button {
              margin-left: 10px;
            }
          }
          .project-tech-list {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            z-index: 2;
            margin: 25px 0px 10px;
            padding: 0px;
            li {
              display: flex;
              margin: 0px 20px 5px 0px;
              color: var(--color-secondary);
              font-family: var(--font-mono);
              font-size: var(--font-size-xs);
              white-space: nowrap;
              button {
                margin-left: 10px;
              }
            }
            li::before {
              position: relative;
              left: -5px;
            }
          }
        }
      }
    }
  }
}
