#sec-05-proyects {
  .inner {
    .featured-proyects {
      .project {
        .project-content {
          .edit-tools {
            display: flex;
            padding-left: 0px;
            padding-right: 200px;
            button {
              margin-left: 10px;
            }
          }
        }
        .edition-controls {
          grid-column: 1/13;
          display: grid;
          gap: 10px;
          z-index: 4;
          .edit-title {
            display: flex;
            gap: 10px;
          }
          .edit-image {
            display: flex;
            gap: 10px;
          }
        }
        &:nth-of-type(2n + 1) {
          .project-content {
            grid-column: 7 / -1;
            text-align: right;
            .project-title {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              h3 {
                flex-direction: row-reverse;
                padding-left: 150px;
                padding-right: 0px;
                button {
                  margin-right: 10px;
                }
              }
            }
            .edit-tools {
              padding-left: 200px;
              padding-right: 0px;
            }
            .project-tech-list {
              justify-content: flex-end;
              li {
                display: flex;
                margin: 0px 0px 5px 20px;
                button {
                  margin-left: 10px;
                }
              }
            }
          }
          .project-image {
            grid-column: 1 / 8;
          }
        }
      }
    }
  }
}
