<section id="sec-04-skills">
  <app-section-title number="04." text="Habilidades"></app-section-title>
  <app-edit-menu *ngIf="login" [edit]="true"></app-edit-menu>
  <div class="inner">
    <div class="skill-set" *ngFor="let skillSet of skills">
      <div class="set-title">
        <span>{{ skillSet.type }}</span>
        <h3>{{ skillSet.title }}</h3>
      </div>
      <div class="set-content">
        <div class="set-description">
          <p>
            {{ skillSet.description }}
          </p>
        </div>
        <ul class="set-list bullet-list">
          <li *ngFor="let tool of skillSet.tools">{{ tool }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
