<section id="sec-04-skills">
  <div class="section-title">
    <span>04.</span>
    <h2>Habilidades</h2>
  </div>
  <div class="inner">
    <div class="skill-set" *ngFor="let skillSet of skills">
      <div class="set-title">
        <span>{{ skillSet.type }}</span>
        <h3>{{ skillSet.title }}</h3>
      </div>
      <div class="set-content">
        <div class="set-description">
          <p>
            {{ skillSet.description }}
          </p>
        </div>
        <ul class="set-list bullet-list">
          <li *ngFor="let tool of skillSet.tools">{{ tool }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
