<section id="sec-02-experience">
  <div class="section-title">
    <span>02.</span>
    <h2>Experiencia</h2>
  </div>
  <div class="inner">
    <div class="xp-tablist">
      <button class="btn-tab" *ngFor="let experience of experiences">
        {{ experience.button }}
      </button>
    </div>
    <div class="xp-panel">
      <div class="panel-content" *ngFor="let experience of experiences">
        <h3>
          {{ experience.role }}
          <a class="in-text" [href]="experience.link" target="_blank"
            >{{ experience.title }}
          </a>
        </h3>
        <div class="panel-subtitle">{{ experience.subtitle }}</div>
        <span>{{ experience.time }}</span>
        <ul
          class="panel-list bullet-list"
          *ngFor="let paragraph of experience.description"
        >
          <li>{{ paragraph }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
