<section id="sec-02-experience">
  <header class="section-header">
    <app-section-title number="02." text="Experiencia"></app-section-title>
    <app-edit-menu
      *ngIf="login"
      (editStart)="editStart()"
      (saveChanges)="saveChanges()"
      (cancelChanges)="cancelChanges()"
    ></app-edit-menu>
  </header>
  <div class="inner">
    <div class="tablist">
      <button
        type="button"
        class="btn-tab"
        *ngFor="let experience of experiences"
        (click)="onSelect(experience)"
        [class.active]="experience === selectedExperience"
      >
        {{ experience.button }}
      </button>
    </div>
    <div class="panel">
      <div class="panel-content" *ngIf="selectedExperience">
        <div class="edition-controls" *ngIf="editMode">
          <div class="edit-button">
            <input
              [(ngModel)]="selectedExperience.button"
              id="occupation"
              type="text"
              name="occupation"
              placeholder="occupation"
            />
          </div>
          <div class="edit-information">
            <input
              [(ngModel)]="selectedExperience.occupation"
              id="occupation"
              type="text"
              name="occupation"
              placeholder="occupation"
            />
            <input
              [(ngModel)]="selectedExperience.title"
              id="title"
              type="text"
              name="title"
              placeholder="title"
            />
            <input
              [(ngModel)]="selectedExperience.subtitle"
              id="subtitle"
              type="text"
              name="subtitle"
              placeholder="subtitle"
            />
            <input
              [(ngModel)]="selectedExperience.duration"
              id="duration"
              type="text"
              name="duration"
              placeholder="duration"
            />
            <input
              [(ngModel)]="selectedExperience.link"
              id="link"
              type="text"
              name="link"
              placeholder="link"
            />
            <div class="edit-description">
              <input
                [(ngModel)]="newParagraph"
                id="newTool"
                type="text"
                name="newTool"
                placeholder="Nuevo párrafo"
              />
              <button
                (click)="addParagraph(selectedExperience, newParagraph)"
                class="btn-edit"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <h3>
          {{ selectedExperience.occupation }}
          <a class="in-text" [href]="selectedExperience.link" target="_blank"
            >{{ selectedExperience.title }}
          </a>
        </h3>
        <div class="panel-subtitle">{{ selectedExperience.subtitle }}</div>
        <span>{{ selectedExperience.duration }}</span>
        <ul class="panel-list bullet-list">
          <li *ngFor="let paragraph of selectedExperience.description">
            {{ paragraph }}
            <button
              (click)="deleteParagraph(selectedExperience, paragraph)"
              *ngIf="editMode"
              class="btn-edit"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-dash-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                />
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
