<section id="sec-02-experience">
  <header class="section-header">
    <app-section-title number="02." text="Experiencia"></app-section-title>
    <app-edit-menu
      *ngIf="login"
      (editStart)="editStart()"
      (editSave)="editSave()"
      (editCancel)="editCancel()"
    ></app-edit-menu>
  </header>
  <div class="inner">
    <div class="tablist">
      <button
        type="button"
        class="btn-tab"
        [class.active]="experience === selectedExperience"
        *ngFor="let experience of experiences"
        (click)="onSelect(experience)"
      >
        {{ experience.button }}
      </button>
    </div>
    <div class="panel">
      <div class="panel-content" *ngIf="selectedExperience">
        <h3>
          {{ selectedExperience.role }}
          <a class="in-text" [href]="selectedExperience.link" target="_blank"
            >{{ selectedExperience.title }}
          </a>
        </h3>
        <div class="panel-subtitle">{{ selectedExperience.subtitle }}</div>
        <span>{{ selectedExperience.time }}</span>
        <ul class="panel-list bullet-list">
          <li *ngFor="let paragraph of selectedExperience.description">
            {{ paragraph }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
